html, body {
  width: 100%; height: 100%;
  /* background: black; */
  margin: 0; padding: 0;
  font-family: 'Chakra Petch';
  
}


.aug-glow, .aug-glow > * {
  width: 100%;
  height: 100%;
  pointer-events: none;
}
.aug-glow {
  filter: drop-shadow(0 0 12px skyblue) drop-shadow(0 0 1px blue);
}

.augborder{
  background-image: url('./assets/images/Thumbs/Kagura.jpg');
  background-size: cover;
  --aug-border: initial;
  --aug-border-all: 0.25rem;
  padding: 1rem;
  --aug-border-bg: #00dfe7;

  --aug-tl: 1.5rem;
  --aug-tr: 1.5rem;
  --aug-l: 1rem;
  --aug-l-extend1: 50%;
  --aug-r: 1rem;
  --aug-r-extend1: 50%;
  --aug-bl: 1rem;
  --aug-br: 1rem;
  margin-bottom: 2rem;
  transform-origin: 50% 50%;
}

.core-head {
  position: absolute;
  top: 0.5rem;
  left: 0px;
  width: 100%;
  display: block;
  text-align: center;
  color: #00dfe7;
  font-weight: bold;
}

.grid-element {
  
  text-align: center;
  font-size: 40px;
  font-family: sans-serif;
  /* min-width: 300px;
  min-height: 450px; */
  min-width: 200px;
  min-height: 320px;
  width: 100%;
  height: 100%;  
  color: white;
  padding-bottom: 1em;
}


:root{
  --gird-width:30px;
  --gird-height:30px;
  --line-color:#999;
  --dot-color:#ccc;
  --dot-size:2px;
  --point-gap-width:calc(var(--gird-width) * 4);
  --point-gap-height:calc(var(--gird-height) * 4);
}
.grid-bg{
  width: 100%;
  height: 100%;
  overflow-y: auto;
  overflow-x: hidden;
}

.ba-grid{
  /* position: relative; */
  z-index: 1;
  
  background-image: 
/*     radial-gradient(ellipse at center, #2883b6 0%, #084688 100%), */
    radial-gradient(ellipse at bottom left, rgba(104,128,138,0.4) 10%, rgba(138,114,76,0) 40%),
    linear-gradient(to bottom, rgba(57,173,219,.25), rgba(42,60,87,0.4)),
    linear-gradient(135deg, #670d10, #092756);
}
/* .over{
  overflow-y: auto;
  overflow-x: hidden;
} */

.ba-grid:before,
.ba-grid:after,
.inner:before,
.inner:after{
  content:'';
  position: absolute;
  z-index: 1;
  top:0;
  bottom:0;
  left:0;
  right:0;
  mix-blend-mode: overlay;
}

.ba-grid:before{
  background-image: 
    linear-gradient(var(--line-color), transparent 1px),
    linear-gradient(to right, var(--line-color), transparent 1px);
  background-size:
    100% var(--gird-height),
    var(--gird-width) 100%;
}

.ba-grid:after{
  background-image: radial-gradient(var(--dot-color) 1px, transparent 1px);
  background-size: var(--point-gap-width) var(--point-gap-height);
  background-position: calc(var(--point-gap-width) / 2) calc(var(--point-gap-height) / 2);
}



.inner:before,
.inner:after{
  background-image: radial-gradient(var(--dot-color) var(--dot-size), transparent var(--dot-size));
  background-size: var(--point-gap-width) var(--point-gap-height);
  background-position: calc(var(--point-gap-width) / 2) calc(var(--point-gap-height) / 2);  

}

.inner:after{
  
  transform: scale(1.1, 1.1);
}

.inner:before{
/*   background-image: radial-gradient(var(--dot-color) calc(var(--dot-size) + 1px), transparent calc(var(--dot-size) + 1px)); */
  transform: scale(1.2, 1.2);
}

.anim:after{
  animation: 6.4s linear move infinite;
}

.anim .inner:after{
  animation: 3.2s linear move infinite;
}

.anim .inner:before{
  animation: 1.6s linear move infinite;
}

@keyframes move{
  0%{
    background-position:calc(var(--point-gap-width) / 2) calc(var(--point-gap-height) / 2);
  }
  100%{
    background-position:calc(var(--point-gap-width) / 2) calc(var(--point-gap-height) / 2 * -1);
  }
}


::-webkit-scrollbar {
  width: 20px;
}

::-webkit-scrollbar-track {
  background-color: transparent;
}

::-webkit-scrollbar-thumb {
  background-color: #d6dee1;
}

::-webkit-scrollbar-thumb {
  background-color: #d6dee1;
  border-radius: 20px;
}

::-webkit-scrollbar-thumb {
  background-color: #d6dee1;
  border-radius: 20px;
  border: 6px solid transparent;
  background-clip: content-box;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #a8bbbf;
}